{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "alpha-incubator-pwa-poc"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p></p>
      </div>
      {{ govukButton({
        text: "Register for notifications",
        attributes: {
          id: "register-notifications",
          "data-vapid-public-key": vapidPublicKey
        }
      }) }}
    </div>
  </div>

{% endblock %}
